<template>
  <div id="app">
    <header class = "main-header">
        <router-link to = "/">
          <img src="@/assets/logo.png" height="50" width="50" alt="">
        </router-link> 
        <div class = "links">
            <a href = "#"> Статьи </a>
            <router-link to = "/about"> О Блоге </router-link>
            <a href = "#"> Регистрация </a>
        </div>
    </header>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html{
  height: 100vh;
}
body{
  margin: 0px;
  padding: 0px;
}
    .main-header{
        display: flex;
        justify-content: space-between;
        height: 50px;
        background: black;
        padding: 0 15px;
    }
    a{
        text-decoration: none;
        color: white;
        margin-left: 5px;
        line-height: 50px;
    }
    a:hover{
        text-decoration: underline;
    }

    .links{
        text-align: center;
    }
</style>

