<template>
    <div>
        <h2>About page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellendus asperiores repudiandae ut commodi officiis expedita repellat odit quasi praesentium autem doloremque consectetur libero, dolorum distinctio quaerat neque quam debitis aspernatur labore aperiam nihil sapiente non. Ducimus deleniti repellat itaque laudantium id eius saepe ex quia molestiae doloribus, architecto quaerat blanditiis distinctio, adipisci dignissimos quae veritatis quis ea! Velit ut officiis optio consectetur voluptatibus saepe provident amet odio, dignissimos dolorum laborum? Corporis aut repellat earum eveniet natus inventore! Perspiciatis reiciendis dolores eveniet assumenda aut nesciunt voluptas impedit veniam harum, iste, enim vero molestiae recusandae ipsa, sint quod! Enim, laborum exercitationem.</p>
    </div>  
</template>

