<template>
    <div>
        <h2> Home page </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates porro mollitia iure quasi placeat, exercitationem odit illum fuga praesentium ex, quia velit reprehenderit assumenda distinctio temporibus corrupti debitis ipsum cupiditate!</p>
    </div>
</template>